<footer class="fixed bottom-0 w-full pb-4">
  <div
    class="text-center py-3 flex gap-2 items-center justify-center max-w-[400px] mx-auto rounded-lg bg-white"
  >
    <span class="mr-1">Developed by</span>
    <a
      class="inline-block rounded-md px-2 py-1 text-black bg-[#d3d3d3] transition-colors duration-300 hover:bg-[#353535] hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-50 focus:ring-offset-2 focus:ring-offset-gray-500"
      href="https://github.com/Jo-varo"
      target="_blank"
      rel="noreferrer"
    >
      <div class="flex items-center gap-1">
        <ng-icon name="bootstrapGithub" />
        Jo-Varo
      </div>
    </a>
    <a
      class="inline-block rounded-md px-2 py-1 text-black bg-[#d3d3d3] transition-colors duration-300 hover:bg-[#353535] hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-50 focus:ring-offset-2 focus:ring-offset-gray-500"
      href="https://www.linkedin.com/in/jovaro/"
      target="_blank"
      rel="noreferrer"
    >
      <div class="flex items-center gap-1">
        <ng-icon name="bootstrapLinkedin" />
        Jorge Vargas
      </div>
    </a>
  </div>
</footer>
