<div
  class="absolute top-0 left-0 bg-[#000000c0] w-full h-full flex justify-center items-center"
  (click)="closeModal(); (false)"
  [formGroup]="formCustomSlug"
>
  <form
    (click)="$event.stopPropagation()"
    (submit)="handleSubmit()"
    class="bg-stone-50 p-12 border border-black rounded w-7/12 min-w-[300px] mb-40 max-w-[600px]"
  >
    <h1 class="font-bold text-3xl mb-6">
      {{ this.modalTitle() }}
    </h1>
    <div class="mb-6">
      <label class="block" for="originalUrl">Enter the link to shorten</label>
      <input
        type="text"
        placeholder="www.google.com"
        class="w-full border border-black rounded p-2"
        [class.error]="!(originalUrl.valid || originalUrl.pristine)"
        formControlName="originalUrl"
        id="originalUrl"
      />
      <p
        class="error-input-message"
        [hidden]="originalUrl.valid || originalUrl.pristine"
      >
        You should enter a valid url
      </p>
    </div>
    <div class="mb-6">
      <label class="block" for="customSlug"
        >Enter the slug that you wish
      </label>
      <span class="flex text-center items-center mt-1">
        <p>https://our-host.com/</p>
        <input
          type="text"
          placeholder="MyLinkedIn2024"
          class="border border-black rounded px-2 py-1 ml-1"
          [class.error]="!(customSlug.valid || customSlug.pristine)"
          formControlName="customSlug"
          id="customSlug"
          maxlength="15"
        />
      </span>
      <p
        class="error-input-message"
        [hidden]="customSlug.valid || customSlug.pristine"
      >
        You should enter a slug with maximum 15 characters
      </p>
    </div>
    <button
      class="py-2 px-6 text-xl bg-amber-200 hover:bg-amber-300 transition-colors duration-300 block mx-auto"
    >
      {{ this.buttonText() }}
    </button>
  </form>
</div>
