th,
td {
  @apply border border-neutral-400 p-2;
}

td {
  @apply p-3;
}

/* Last 2 columns */
tr td:nth-last-child(-n + 2) {
  @apply text-3xl;
}

tr a {
  @apply transition-colors duration-300 text-blue-800 hover:text-blue-600;
}

td:nth-last-child(2) a {
  @apply text-amber-400;
}

td:nth-last-child(1) button {
  @apply text-red-500;
}

td button,
td:nth-last-child(2) a {
  @apply block mx-auto w-full text-center transition-transform duration-300;
}

td button:hover,
td a:hover {
  @apply scale-125;
}

tr td.url {
  @apply text-base;
}
