<div>
  <header class="flex justify-end mb-3">
    <a
      class="py-2 px-4 bg-amber-200 hover:bg-amber-300 transition-colors duration-300"
      routerLink="./create"
      >Short new url</a
    >
  </header>
  @if(urls.length>0){
  <table class="w-full shadow-xl">
    <thead class="text-lg">
      <tr>
        <th>Original Link</th>
        <th>Shorted Link</th>
        <th>Custom Slug</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (url of urls; track url.id) {
      <tr>
        <td>{{ url.original_url }}</td>
        <td>
          <a href="{{ apiPreffix }}/{{ url.slug }}" target="_blank">{{
            apiPreffix + "/" + url.slug
          }}</a>
        </td>
        <td>{{ url.slug }}</td>
        <td>
          <a [routerLink]="['/manage-urls', url.id]">
            <ng-icon name="bootstrapPencilFill" />
          </a>
        </td>
        <td>
          <button (click)="handleDelete(url.id)">
            <ng-icon name="bootstrapXLg" />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }@else{
  <h3 class="text-3xl">There are no urls yet</h3>
  }
</div>
<router-outlet />
