@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

input.error {
  @apply border-red-500 outline-4 focus:border-red-700 focus:outline-red-500;
}

.error-input-message {
  @apply text-red-500 absolute text-sm;
}
