<div id="home">
  <h1>Shortener</h1>
  <div>
    <form [formGroup]="shortenerForm" (submit)="handleSubmit()">
      <div class="shortener-link-group">
        <input
          type="text"
          placeholder="https://www.google.com/"
          required
          [class.invalid]="!(originalURL.valid || originalURL.pristine)"
          formControlName="{{ constantOriginalURL }}"
        />
        <p [hidden]="originalURL.valid || originalURL.pristine" class="error">
          A valid url is required
        </p>
      </div>
      <button type="submit">Short link</button>
    </form>
    @if (shortenedLink) {
    <div>
      <h3>Shortened link:</h3>
      <span>
        <a href="{{ shortenedLink }}" target="_blank">
          {{ shortenedLink }}
        </a>
      </span>
    </div>
    }
  </div>
</div>
